
@{
    ViewBag.Title = "Change";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование заказа</title>
</head>
<body>
    <div>
        <h3>Редактирование заказа:</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Введите Сумму :</p></td>
                    <td>
                    <input type="text" name="Sum" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите Дату:</p></td>
                    <td>
                        <input type="date" name="dateTime" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Изменить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>